
<template>
  <div class="container">
    <img alt="logo" class="img" src="./assets/spiral.png" />
    <h1>Fibonacci calculator</h1>
    <div class="inputWrapper">
      <input
        class="inputPlace"
        type="number"
        placeholder="Input"
        v-model="number"
      />
      <label class="inputPlace">{{ fibonacci }} </label>
    </div>
    <button v-on:click="fibonacciSequence">Calculate</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      number: null,
      fibonacci: "Result: XX",
    };
  },
  methods: {
    fibonacciSequence: function () {
      let fib = [];
      let result = [];

      fib[0] = 1;
      fib[1] = 1;

      for (let i = 2; i < this.number; i++) {
        fib[i] = fib[i - 1] + fib[i - 2];
        result = fib[i];
      }

      if (result == 0) {
        this.fibonacci = 0;
      } else {
        this.fibonacci = result;
      }
    },
  },
};
</script>

